{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in holdings %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Cash</strong></td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Grand Total</strong></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
